---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import Download from "../components/icons/Download.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Contact from "../components/Contact.astro";
import ContactIcon from "../components/icons/ContactIcon.astro"
import Projects from "../components/Projects.astro";
import cv from "../doc/LUCIANO_DIPPOLITO.pdf";
---

<Layout
  title="Luciano D'Ippolito Portfolio | Full Stack Web Developer | Front End "
>
  <main class="px-4">
    <SectionContainer id="" class="py-32 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/public/profile1.jpg"
        alt="Photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Luciano D'Ippolito
        <a
          href="https://www.linkedin.com/in/luciano-dippolito/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        Desarrollador <span class="text-yellow-200"> Full Stack</span> con
        enfoque en el sector <span class="text-yellow-200">Front End</span>.
        Originario de <span class="text-sky-200">Buenos Aires, Argentina</span>.
        <span class="text-purple-300/90"> Especializado en crear aplicaciones web únicas. </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <!-- <SocialPill href="https://www.linkedin.com/in/luciano-dippolito/">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/LucianoDippolito">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill> -->
        <SocialPill href={cv} download="D'IPPOLITO-LUCIANO-CV">
          <Download class="size-4 md:size-6" />
           Descargar CV
        </SocialPill>
      </nav>
    </SectionContainer>

    <!-- <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        Experiencia laboral
        <Briefcase class="size-7" />
      </h2>
      <Experience />
    </SectionContainer> -->

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        Proyectos
        <CodeIcon class="size-7" />
      </h2>
      <Projects />
    </SectionContainer>
    
    <SectionContainer id="contacto">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        Contacto
        <ContactIcon />
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
